<!-- landing.ejs -->



<div class="container mt-5" style="background-color: azure;">
    <div class="jumbotron">
        <h1 class="display-4 text-center text-uppercase font-weight-bold mb-4">A comprehensive platform for reliable jobs and internships!</h1>
<p class="lead text-muted text-center">Find and apply for your dream jobs.</p>
<hr class="my-4 bg-dark">
<p class="text-center fs-5 fw-bold">Get Discovered! Get hired!</p>

        <img src='/images/OIG.JWCTmJN.jpg'>
        
        <a class="btn btn-primary btn-lg" href="/candidatelogin" role="button">I am a Job Seeker</a>
        <a class="btn btn-primary btn-lg" href="/recruiterlogin" role="button">I am a Recruiter</a>
    </div>
</div>
